start
alloc 5
pushi 0
pushi 0
jump L1
L1:
pushi 0
storeg 2
pushs "Introduza 5 números inteiros:"
writes
pushs "\n"
writes
pushi 1
storeg 1
L2:
pushg 1
pushi 5
infeq
jz L3
pushg 0
pushg 1
pushi 1
sub
read
atoi
storen
pushg 2
pushg 0
pushg 1
pushi 1
sub
loadn
add
storeg 2
pushg 1
pushi 1
add
storeg 1
jump L2
L3:
pushs "A soma dos números é: "
writes
pushg 2
writei
pushs "\n"
writes
stop
